node_modules/
npm-debug.log*
Dockerfile
.dockerignore
.git/
.gitignore
build/
stories/
.storybook/
utilities/
*.log
.vscode/
.idea/
__tests__/
*.spec.js
*.test.js
README.md
docs/
.cache/
.npm/
.tmp/
temp/